@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --texto-cinza: #667085;
    --var-rubro: #8E2424;
    --var-escuro: #101828;
    --cor-branco: #ffffff;
    --tons-cinza: #3A404E;
}

.cabecalho{
    display: flex;
    width: 1440px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 1280px;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
}

.container-itens{
    display: flex;
    align-items: center;
    gap: 40px;   
}

.logo-branco{
    width: 142px;
    height: 32px;
    flex-shrink: 0;
}

.container-btn{
    display: flex;
    align-items: center;
    gap: 12px;
}

.primeira-pagina{
    display: flex;
    height: 407px;
    padding: 96px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}


.container-titulo p{
    display: flex;
    width: 603px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 125% */
    letter-spacing: -0.96px;
    text-align: center;
    color: var(--var-escuro);
}

.container-descricao p{
    display: flex;
    width: 791px;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: var(--texto-cinza);
}

.container-metricas{
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    align-self: stretch;    
}


.metricas{
    display: flex;
    width: 1280px;
    padding: 0px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.bloco-metricas{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.item-metrica{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
}

.grand{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 120% */
    letter-spacing: -1.2px;
    color: var(--var-rubro);
}

.subDesc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.sub{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: var(--var-escuro);
}

.desc{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--texto-cinza);
}

.logo{
    display: flex;
    width: 148px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

#imagem{
    width: 27px;
    height: 26.991px;
    flex-shrink: 0;
}

#escrita{
    color: var(--tons-cinza);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */    
}

.seção{
    display: flex;
    align-items: center;
    gap: 32px;
    
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: var(--texto-cinza);
    text-decoration: none;
}

.enter{
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    color: var(--texto-cinza);
}

.cad{
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--var-rubro);
    background: var(--var-rubro);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border-radius: 8px;  
    color: var(--cor-branco);  
}

.subtitulo{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--var-rubro);
}